<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog Post</title>
    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body class="bg-bg-dark text-text-dark p-6">
    <header>
      <nav class="w-full flex justify-between items-center py-4 px-4">
        <div class="logo">
          <a
            href="/"
            class="text-2xl font-semibold text-primary-dark font-logo"
          >
            DotHP</a
          >
        </div>
        <div class="icons hidden max-xs:inline-block relative">
          <div
            id="icons"
            class="h-10 w-10 flex justify-center items-center p-2"
          >
            <img
              src="../static/images/hamburger.svg"
              alt="hamburger"
              id="hamburger"
              class="w-full h-auto cursor-pointer"
            />
            <img
              src="../static/images/close.svg"
              alt="hamburger"
              id="close"
              class="w-full h-auto cursor-pointer hidden"
            />
          </div>
          <!-- mobile menu  -->
          <ul
            id="mobile-menu"
            class="bg-surface-dark absolute top-full right-0 w-40 h-fit hidden flex-col gap-4 p-2 rounded-lg border-2 border-border-dark z-30"
          >
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about"> About us </a></li>
            <li><a href="/developer">Developer</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
          <!-- mobile menu  -->
        </div>
        <ul class="flex gap-4 justify-center items-center max-xs:hidden">
          <li class="text-base px-2"><a href="/">Home</a></li>
          <li class="text-base px-2">
            <a href="/contact">Contact us</a>
          </li>
          <li class="text-base px-2"><a href="/about">About us</a></li>
          <li class="text-base px-2"><a href="/developer">Developer</a></li>
          <li class="text-base px-2"><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main class="bg-surface-dark p-6 rounded-lg">
      <h1 class="text-center text-2xl font-bold mb-4">
        Building a Symptom-Based Disease Diagnosis Web App with Flask and
        Machine Learning
      </h1>
      <p class="text-base text-text-muted-dark">
        In the age of technology and information, access to accurate and timely
        healthcare is more critical than ever. With the increasing importance of
        remote healthcare solutions, we embarked on a journey to develop a
        symptom-based disease diagnosis web application. Leveraging Flask for
        the backend and a Decision Tree Classifier model, we created a
        user-friendly platform that can help users identify potential illnesses
        based on their reported symptoms.
      </p>

      <h3 class="text-lg my-4">The Problem</h3>
      <p class="text-base text-text-muted-dark">
        The project began with recognizing a common issue: people often
        experience symptoms and want quick answers about their health concerns.
        It can be challenging to differentiate between various diseases,
        especially when symptoms overlap. Our goal was to provide a convenient
        solution for users to input their symptoms and receive potential
        diagnoses.
      </p>

      <h3 class="text-lg my-4">The Solution</h3>
      <p class="text-base text-text-muted-dark">
        We developed a web app that allows users to enter a list of symptoms
        they are experiencing. The app then uses a pre-trained Decision Tree
        Classifier model to predict the most likely disease based on the
        provided symptoms. Here's how it works:
      </p>

      <ol class="my-4 px-6 bg-top-surface-dark py-4 rounded-md">
        <li class="list-decimal my-4 text-text-muted-dark">
          <b class="text-text-dark"><strong>Symptom Input:</strong></b> Users
          enter their symptoms through a user-friendly interface. The web app
          supports a wide range of symptoms, making it versatile for different
          scenarios.
        </li>
        <li class="list-decimal my-4 text-text-muted-dark">
          <b class="text-text-dark"><strong>Machine Learning Model:</strong></b>
          We trained a Decision Tree Classifier using a dataset containing
          symptoms and corresponding diseases. The model is capable of
          predicting diseases based on input symptoms.
        </li>
        <li class="list-decimal my-4 text-text-muted-dark">
          <b class="text-text-dark"><strong>Prediction:</strong></b> The app
          uses the model to predict the most likely disease, providing users
          with instant information about potential health concerns.
        </li>
        <li class="list-decimal my-4 text-text-muted-dark">
          <b class="text-text-dark"
            ><strong>Additional Information: </strong></b
          >
          To enhance user experience, the app also provides additional
          information about the predicted disease. This includes a description
          of the disease, recommended precautions, medications, dietary advice,
          and workout tips.
        </li>
      </ol>

      <h3 class="text-lg my-4">Key Features</h3>
      <ul class="my-4 px-6 bg-top-surface-dark py-4 rounded-md">
        <li class="list-disc my-4 text-text-muted-dark">
          <b class="text-text-dark"
            ><strong>User-Friendly Interface:</strong></b
          >
          The web app boasts an intuitive and easy-to-navigate interface,
          ensuring that users can input their symptoms without any hassle.
        </li>
        <li class="list-disc my-4 text-text-muted-dark">
          <b class="text-text-dark"><strong>Accurate Predictions:</strong></b>
          Leveraging machine learning, our model provides accurate disease
          predictions based on the symptoms provided by the user.
        </li>
        <li class="list-disc my-4 text-text-muted-dark">
          <b class="text-text-dark"
            ><strong>Comprehensive Information: </strong></b
          >In addition to predictions, the app offers comprehensive information
          about the predicted disease, including descriptions, precautions,
          medications, diet recommendations, and workout tips.
        </li>
        <li class="list-disc my-4 text-text-muted-dark">
          <b class="text-text-dark"><strong>ducational Content:</strong></b> To
          empower users with knowledge, the app includes informative blog posts
          about various health topics.
        </li>
      </ul>

      <br />

      <h3 class="text-lg my-4">Conclusion</h3>
      <p class="text-base text-text-muted-dark">
        Our Symptom-Based Disease Diagnosis Web App brings the power of machine
        learning and healthcare information to the fingertips of users. It
        serves as a valuable resource for individuals looking to gain insights
        into their health conditions quickly and conveniently. By combining
        technology and healthcare, we aim to make healthcare more accessible and
        user-centric. In an era where remote healthcare solutions are gaining
        prominence, this project represents a significant step forward in
        providing accessible and reliable healthcare information to the masses.
        We hope that this project will contribute to better health awareness and
        ultimately improve the well-being of individuals worldwide.
      </p>
    </main>
    <footer class="w-full mt-10 text-sm text-center py-6">
      Made with ❤️ by DotHP
    </footer>
    <script src="../static/javascript/script.js"></script>
  </body>
</html>
