<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dedveloper | Harsh Prajapati</title>
    <link rel="stylesheet" href="../static/css/output.css" />
  </head>
  <body class="bg-bg-dark text-text-dark p-6">
    <header>
      <nav class="w-full flex justify-between items-center py-4 px-4">
        <div class="logo">
          <a
            href="/"
            class="text-2xl font-semibold text-primary-dark font-logo"
          >
            DotHP</a
          >
        </div>
        <div class="icons hidden max-xs:inline-block relative">
          <div
            id="icons"
            class="h-10 w-10 flex justify-center items-center p-2"
          >
            <img
              src="../static/images/hamburger.svg"
              alt="hamburger"
              id="hamburger"
              class="w-full h-auto cursor-pointer"
            />
            <img
              src="../static/images/close.svg"
              alt="hamburger"
              id="close"
              class="w-full h-auto cursor-pointer hidden"
            />
          </div>
          <!-- mobile menu  -->
          <ul
            id="mobile-menu"
            class="bg-surface-dark absolute top-full right-0 w-40 h-fit hidden flex-col gap-4 p-2 rounded-lg border-2 border-border-dark z-30"
          >
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/about"> About us </a></li>
            <li><a href="/developer">Developer</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
          <!-- mobile menu  -->
        </div>
        <ul class="flex gap-4 justify-center items-center max-xs:hidden">
          <li class="text-base px-2"><a href="/">Home</a></li>
          <li class="text-base px-2">
            <a href="/contact">Contact us</a>
          </li>
          <li class="text-base px-2"><a href="/about">About us</a></li>
          <li class="text-base px-2"><a href="/developer">Developer</a></li>
          <li class="text-base px-2"><a href="/blog">Blog</a></li>
        </ul>
      </nav>
    </header>
    <main class="p-6 bg-surface-dark rounded-md">
      <h1 class="text-4xl font-semibold font-mono my-6">
        <span class="text-primary-dark font-semibold tracking-tighter"
          >Harsh Prajapati</span
        >
        <span class="italic font-extralight text-lg tracking-tighter"
          >"hoon main"</span
        >
      </h1>
      <h3 class="text-xl my-4">Meet the Developer</h3>

      <p class="text-base text-text-muted-dark">
        Hello, I'm <span class="text-primary-dark">Harsh Prajapati</span> , your
        AI and Machine Learning Engineer with over 5 years of experience in the
        field. I am passionate about harnessing the power of technology to make
        a positive impact on people's lives. Allow me to share a bit about my
        journey in the world of artificial intelligence and machine learning.
      </p>
      <h3 class="text-xl my-4">My Expertise</h3>
      <p class="text-base text-text-muted-dark">
        With a strong academic background in computer science and a deep
        fascination for AI and ML, I embarked on a journey that has taken me
        across the globe, working on diverse and innovative projects. Over the
        years, I've had the privilege of collaborating on international projects
        that have pushed the boundaries of what's possible in AI and ML.
      </p>
      <h3 class="text-xl my-4">A Commitment to Excellence</h3>
      <p class="text-base text-text-muted-dark">
        My work is driven by a commitment to excellence and a belief that
        technology should be accessible and beneficial to everyone. Whether it's
        developing predictive models, creating intelligent algorithms, or
        designing user-friendly interfaces, I strive for solutions that are both
        cutting-edge and user-centric.
      </p>
      <h3 class="text-lg my-4">Passion for Health Tech</h3>
      <p class="text-base text-text-muted-dark">
        The development of [Your Website Name] represents a convergence of my
        passion for AI and my dedication to improving healthcare accessibility.
        I believe that AI has the potential to transform the way we approach
        healthcare, making it more personalized and informative. This platform
        is a testament to that vision.
      </p>
      <h3 class="text-lg my-4">Join Me on this Journey</h3>
      <p class="text-base text-text-muted-dark">
        I invite you to explore [Your Website Name] and experience firsthand the
        fusion of AI and healthcare. Together, we can empower individuals with
        knowledge, promote well-being, and contribute to a brighter and
        healthier future.
      </p>
    </main>
    <footer class="w-full mt-10 text-sm text-center py-6">
      Made with ❤️ by DotHP
    </footer>
    <script src="../static/javascript/script.js"></script>
  </body>
</html>
